{% extends "base.html" %}

{% block page_title %}Minicurso{% endblock page_title %}

{% block content %}
  <section>
    <div class="container">
      <h2 center>{{ object.title }}</h2>
      <div class="row">
        <div class="col-md-6">
          <p><h4>Autores:</h4> {{ object.get_author }}</p>
          <p><h4>Objetivos:</h4> {{ object.goal }}</p>
          <p><h4>Descrição:</h4> {{ object.description}}</p>
        </div>
        <div class="col-md-6">
          <p><h4>Público Alvo:</h4> {{ object.public }}</p>
          <p><h4>Pré-requisitos:</h4> {{ object.requirements }}</p>
          <p><h4>Carga Horária:</h4> {{ object.get_workload_display }}</p>
          <p><h4>Vagas:</h4> {{ object.vacancies }}</p>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}