{% extends "base.html" %}

{% block content %}

    <section>
      <div class="container">
        <article class="lead" align="justify">
          <p>A <strong>3ª Semana Acadêmica do curso Bacharelado em Ciência da Computação</strong> acontecerá nos dias 27, 28 e 29 de novembro de 2018 no IFRS - Campus Ibirubá.
          A nossa 3ª Semana Acadêmica contará com palestras e minicurso, oportunizando a difusão da troca de conhecimento e desta forma, aproximar alunos e professores de forma dinâmica, complementando a formação acadêmica do aluno.
          </p>
          <p><strong>Participe conosco!</strong></p>
            <b>Links Importantes: <b>
              <a href="{% url 'program'%}" target="_blank">Programação</a>,
              <a href="#" target="_blank">Regulamento</a> e
              <a href="#" target="_blank">Sistema de Inscrições</a>.
          </p>
        </article>
      </div>
    </section>
    <section class="background-gray-lightest">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="h2" align="center">
              Participe da MOEPEX
            </div>
          </div>
          <div class="col-md-2 col-md-offset-2">
            <div class="post" align="center">
                <a href="#" class="btn btn-ghost">Minicursos</a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="post" align="center">
            </div>
          </div>
          <div class="col-md-2">
            <div class="post" align="center">
              <a href="#" class="btn btn-ghost">Palestras</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--   *** Minicursos ***-->
    <section>
      <div class="container clearfix">
        <div class="row services">
          <div class="col-md-12">
            <span class="h2">Minicursos</span>
            <p>Clique no título para mais informações e inscrever-se.</p>
            <table class="table">
              <thead>
                <tr>
                  <th>Título</th>
                  <th>Descrição</th>
                </tr>
              </thead>
              <tbody>

              <!--{% for event in events %}
                <tr>
                  <td> <a href="#">{{ event.title }}</a></td>
                  <td>{{ event.description|truncatechars:100 }}</td>
                </tr>
              {% endfor %}-->
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>
    <!--   *** Minicursos END ***-->
    <!-- Experimentos-->
    <section id="portfolio" class="background-gray-lightest">
    <div class="container clearfix">
        <div class="row services">
          <div class="col-md-12">
            <span class="h2">Palestras</span>
            <table class="table">
              <thead>
                <tr>
                  <th>Título</th>
                  <th>Descrição</th>
                </tr>
              </thead>
              <tbody>
              <!--{% for experiment in experiments %}
                <tr>
                  <td> <a href="#">{{ experiment.title }}</a></td>
                  <td>{{ experiment.description|truncatechars:100 }}</td>
                </tr>
              {% endfor %}-->
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>
    <!-- Experimentos END-->

{% endblock content %}