{% extends "base.html" %}

{% block jumbotron %}{% endblock jumbotron %}
{% block page_title %}Login{% endblock page_title %}

{% block content %}

    <form method="post" action="{% url 'login' %}">

    {% csrf_token %}

   <section>
      <div class="container">
        <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <h3 align="center">Entrar</h3>
            <div class="form-group">
              <input name="username" type="text" class="form-control" id="id_username" placeholder="CPF">
            </div>
            <div class="form-group">
                <input name="password" type="password" class="form-control" id="id_password" placeholder="Senha">
            </div>
            {% if form.errors %}
            <p class="text-danger" align="center">
              Seu CPF e/ou senha estão incorretos, tente novamente
            </p>
            {% endif %}
            <input type="submit" class="btn btn-success btn-lg btn-block" value="Entrar">
            <input type="hidden" name="next" value="{{ next }}" />
            <br>
            <p align="center"><a href="{% url 'signup' %}">Criar nova conta</a></p>
            <p align="center"></p>
            <p align="center">
                Caso encontre problemas de acesso, envie um email para da.computacao@ibiruba.ifrs.edu.br
            </p>
        </div>
    </div>
  </div>
</section>
    </form>

{% endblock %}

{% block js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
<script type="text/javascript">
  $('#id_username').mask('000.000.000-00', {reverse: true});
</script>
{% endblock js %}

{% block script %}
    <script type="text/javascript">
        alert('teste');
        //https://igorescobar.github.io/jQuery-Mask-Plugin/docs.html
    </script>
{% endblock script %}