{% extends "base.html" %}

{% load bootstrap %}

{% block jumbotron %}{% endblock jumbotron %}
{% block page_title %}Cadastro{% endblock page_title %}

{% block content %}
  <form method="post">
   <section>
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <h3>Cadastro de participante externo</h3>
            <p>Caso seja um aluno regular, não é necessário realizar o cadastro, seus dados de acesso são CPF e a senha é seu número de matrícula. Caso seja professor ou técnico administrativo, sua senha é o seu número de SIAP.
            <a href="{% url 'login' %}">Clique aqui para realizar o login</a></p>
            {{ form|bootstrap }}
            {% csrf_token %}
            <button type="submit">Cadastrar</button>
          </div>
        </div>
      </div>
    </section>
  </form>
{% endblock %}

{% block js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
<script type="text/javascript">
  $('#id_username').mask('000.000.000-00', {reverse: true});
</script>
{% endblock js %}