{% extends "base.html" %}

{% block content %}

    <section>
      <div class="container">
        <article class="lead" align="justify">
          <p>A <strong>3ª Semana Acadêmica do curso Bacharelado em Ciência da Computação</strong> acontecerá nos dias 27, 28 e 29 de novembro de 2018 no IFRS - Campus Ibirubá.
          A nossa 3ª Semana Acadêmica contará com palestras e minicursos, oportunizando a difusão da troca de conhecimento e desta forma, aproximar alunos e professores de forma dinâmica, complementando a formação acadêmica do aluno.
          </p>
          <p><strong>Participe conosco!</strong></p>
            <b>Links Importantes: <b>
              <a href="{% url 'program'%}" target="_blank">Programação</a>,
              <a href="{% url 'rules'%}" target="_blank">Regulamento</a> e
              <a href="{% url 'login' %}" target="_blank">Sistema de Inscrições</a>.
          </p>
        </article>
      </div>
    </section>
    <section class="background-gray-lightest">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="h2" align="center">
              Participe da 3ª Semana Acadêmica
            </div>

            

            <div align="center"><a href="#" class="btn btn-success btn-info">Realizar Inscrição</a></div>

          </div>
        </div>
      </div>
    </section><center>

    <!--   *** Minicursos ***--></center>
    <section>
      <div class="container clearfix">
        <div class="row services">
          <div class="col-md-12">
            <span class="h2">Minicursos e Palestras</span>
            <p>Clique no título para mais informações</p>
            <table class="table">
              <thead>
                <tr>
                  <th>Título</th>
                  <th>Ministrante</th>
                  <th>Data</th>
                  <th>Horário</th>
                </tr>
              </thead>
              <tbody>
      
                <tr>
                  <td>Palestra: "Controlando um sistema embarcado usando Telegram e Google Scripts"</td>
                  <td>Prof Anderson Prante Professor Substituto de Informática Instituto Federal Farroupilha - Campus Panambi</td>
                  <td>27/11/2018 (terça-feira)</td>
                  <td>19h - 20h40min 21h - 22h30min</td>
                </tr>

                <tr>
                  <td>Minicurso: “Uma visão geral sobre as Progressive Web Apps (PWAs)”</td>
                  <td>Profª. Draª. Anubis Graciela de Moraes Rossetto Informática - Campus Passo Fundo Instituto Federal de Educação, Ciência e Tecnologia Sul-riograndense (IFSUL)</td>
                  <td>28/11/2018 (quarta-feira)</td>
                  <td>19h - 20h40min 21h - 22h30min</td>
                </tr>

                <tr>
                  <td>Palestra: "Uma Introdução ao Aprendizado de Máquina e às Redes Neurais Profundas"</td>
                  <td>Prof. Me. Carlos Alexandre Silva dos Santos Informática - Campus Passo Fundo Instituto Federal de Educação, Ciência e Tecnologia Sul-riograndense (IFSUL)
</td>
                  <td>29/11/2018 (quinta-feira)</td>
                  <td>19h - 20h40min 21h - 22h30min</td>
                </tr>
            
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>
    <!--   *** Minicursos END ***-->
    <!-- Experimentos-->
    <section id="portfolio" class="background-gray-lightest">
    
    </section>
    <!-- Experimentos END-->

{% endblock content %}