{% extends "base.html" %}

{% block page_title %}Programação{% endblock page_title %}

{% block content %}

   <section>
      <div class="container">
        <h1 align="center">Programação da III Semana Acadêmica</h1>
        <br>
            <table class="table">
              <thead>
                <tr>
                  <th>Título</th>
                  <th>Ministrante</th>
                  <th width="140px">Data</th>
                  <th width="140px">Horário</th>
                </tr>
              </thead>
              <tbody>

                <tr>
                  <td>Palestra: "Controlando um sistema embarcado usando Telegram e Google Scripts"</td>
                  <td>Prof. Anderson Prante
                    <br>Professor Substituto de Informática Instituto Federal Farroupilha
                    <br>Campus Panambi</td>
                  <td>27/11/2018 <br> (terça-feira)</td>
                  <td>19h - 20h40min <br> 21h - 22h30min</td>
                </tr>

                <tr>
                  <td>Minicurso: “Uma visão geral sobre as Progressive Web Apps (PWAs)”</td>
                  <td>Profª. Draª. Anubis Graciela de Moraes Rossetto
                    <br>Professora de Informática Instituto Federal de Educação, Ciência e Tecnologia Sul-riograndense (IFSUL)
                    <br>Campus Passo Fundo</td>
                  <td>28/11/2018 <br> (quarta-feira)</td>
                  <td>19h - 20h40min <br> 21h - 22h30min</td>
                </tr>

                <tr>
                  <td>Palestra: "Uma Introdução ao Aprendizado de Máquina e às Redes Neurais Profundas"</td>
                  <td>Prof. Me. Carlos Alexandre Silva dos Santos
                    <br>Professor de Informática Instituto Federal de Educação, Ciência e Tecnologia Sul-riograndense (IFSUL)
                    <br>Campus Passo Fundo</td>
                  <td>29/11/2018 <br> (quinta-feira)</td>
                  <td>19h - 20h40min <br> 21h - 22h30min</td>
                </tr>

              </tbody>
            </table>S
      </div>
  </section>

{% endblock %}
