{% extends "base.html" %}
{% block content %}
<section>
	<div class="container">
		<article class="lead" align="justify">
			<h1>Regulamento</h1>
			<p>Valor da inscrição: <strong>R$ 20,00 </strong>incluindo participações nas palestras, 	 minicurso, coffee break, certificado e material que será entregue nos dias do evento,
			prazo de inscrição 15/11/2018 à 23/11/2018. </p>

			<p>Pagamento mediante depósito em conta bancária, Banco do Brasil, agência 5788-6, conta 11131-7, titular: Lisiane Reips - integrante do Diretório Acadêmico do curso de Ciência da Computação, ou diretamente aos membros do Diretório Acadêmico.</p>

			<p>O pagamento realizado via depósito bancário precisa ser comprovado através do envio de comprovante bancário para o e-mail <strong>da.computacao@ibiruba.ifrs.edu.br</strong> até: 23/11/2018.
				Somente receberão certificado os participantes que obtiverem no mínimo 75% de frequência em todo o evento.
			</p>
			<p><strong>Participe conosco!</strong></p>
		</article>
	</div>
</section>
{% endblock content %}
